# ignore tests project
tests/

# yea, ignore log
log-latest.json

# ignore ffmpeg, i'll make function to download ffmpeg in this program soon.
ffmpeg/

# and necessarry directory
installer/
output/

# pycache, i forgor
__pycache__/